.allProfile{
    background: url('../../../public/images/PortfolioBackground.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: yellow;
    position: relative;
    top:0;
    right: 0;
    left: 0;
    z-index: -5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboveCarousel{
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.sliderImage {
    max-width: 50%;
    height: inherit;

}
