.allHome{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/images/homeBackground.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    color: yellow;
    position: relative;
    top:0;
    right: 0;
    left: 0;
    z-index: -5;
}
.innerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.textHome{
    border-left: 30px solid rgba(155,103,60, 1);
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 33%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

h1{
    margin: 0;
    margin-left: 10px;
}

h3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-left: 10px;
}
