.allHeader{
height: 75px;
display: flex;
align-items: center;
background: rgba(36,37,38,.6);

position: sticky;
top: 0;
color: white;
}

.headerTitle {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
}
.listItems{
    width: 50%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{

    margin-right: 5px;
    margin-left: 5px;
}
a{
    color: white;
    text-decoration: none;
}