.allFooter {
  height: 80px;
  display: flex;
  align-items: center;
  background: rgba(36, 37, 38, 0.6);
  color: white;
}

li {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  list-style-type: none;
}


.leftDiv, .rightDiv, .centerDiv {
    width: 33%;
}

.rightDiv, .leftDiv   {
  display: flex;
  justify-content: center;
}